<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokeProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B12ABB2C2A219FCF002C3684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B12ABB3C2A219FD0002C3684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B12ABB462A219FD0002C3684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
